@{
    ViewBag.Title = "About";
}
<div id="aboutBackground">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>
        This is a little paragraph to explain just how awesome my cool new F1 site is.
        You can see the list of drivers, teams, sponsors and race tracks on my site. You can even update and delete them!
    </p>
</div>